.color-text-soporte{
    color: #696969;
}

.m-animated-opacity {
    animation: mainAnimated .5s ease-in-out;
}

@keyframes mainAnimated {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}