.color-text-soporte{
    color: #696969;
}

.m-animated-opacity {
    animation: mainAnimated .5s ease-in-out;
}

.txt-responsive-devbug-active{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.txt-responsive-devbug{
    display: none;
}

@keyframes mainAnimated {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}