.bg-reservation{
    background-color: rgb(232,230,230,0.6);
    width: 100%;
    height: 100%;
}

#reservation{
    margin-top: 75px;
    margin-bottom: 75px;
}

.text-moded-bton-reservation{
    letter-spacing: 2px;
}

.hover-bton-mod{
    transition: ease-in-out .2s;
}

.hover-bton-mod:hover{
    transform: translateY(-9px);
}