.img-s{
    width: 200vh;
    height: 663.95px;
    object-fit: cover;
}

.letter-mod{
    letter-spacing: -5px;
}

.bg-moded-initial{
    background-color: #045174;
    color: #ceeefd;
}

.hr-moded{
    background-color: #ceeefd;
    height: 5px;
    border: none;
    width: 100%;
}

.bg-animated {
    animation: txt-animated-initial 7s ease-in-out infinite alternate;
}

@keyframes txt-animated-initial {
    0% {
        color: #ceeefd;
    }
    50% {
        color: black;
    }
    100% {
        color: #ceeefd;
    }
}
