.text-color{
    color: #045174;
}

.p-input{
    padding: 0.75rem 1.10rem;
}

.txt-responsive-devbug-active{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.txt-responsive-devbug{
    display: none;
}