@media only screen and (min-width: 238px) and (max-width: 369px){
    .responsive-section{
        flex-direction: column-reverse !important;
    }

    .media-text{
        font-size: 59px;
    }

    .responsive-about{
        height: auto;
    }

    .reponsive-area-about{
        flex-direction: column;
    }

    .text-size-movil{
        font-size: 39px;
    }

    .responsive-rounded{
        border-radius: 0px !important;
    }

    .reponsive-flex{
        flex-direction: column !important;
    }

    .reponsive-area{
        flex-direction: column !important;
        align-content: center !important;
    }

    .responsive-size{
        width: 100% !important;
    }

    .responsive-navbar{
        display: none !important;
    }

    .responsive-header{
        justify-content: stretch !important;
    }

    .responsive-menu-toggle{
        display: block !important;
    }

    #Projects{
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }
}
@media only screen and (min-width: 360px) and (max-width: 424px){
    .responsive-section{
        flex-direction: column-reverse !important;
    }

    .responsive-about{
        height: auto;
    }

    .reponsive-area-about{
        flex-direction: column;
    }

    .responsive-rounded{
        border-radius: 0px !important;
    }

    .reponsive-flex{
        flex-direction: column !important;
    }

    .reponsive-area{
        flex-direction: column !important;
        align-content: center !important;
    }

    .responsive-size{
        width: 100% !important;
    }

    .responsive-navbar{
        display: none !important;
    }

    .responsive-header{
        justify-content: stretch !important;
    }

    .responsive-menu-toggle{
        display: block !important;
    }

    #Projects{
        margin-top: 35px !important;
        margin-bottom: 35px !important;
    }
}
@media only screen and (min-width: 425px) and (max-width: 700px){
    .responsive-section{
        flex-direction: column-reverse;
    }

    .responsive-about{
        height: auto;
    }

    .reponsive-area-about{
        flex-direction: column;
    }

    .responsive-rounded{
        border-radius: 0px;
    }

    .reponsive-flex{
        flex-direction: column;
    }

    .reponsive-area{
        flex-direction: column;
        align-content: center;
    }

    .responsive-size{
        width: 100%;
    }

    .responsive-navbar{
        display: none;
    }

    .responsive-header{
        justify-content: stretch;
    }

    .responsive-menu-toggle{
        display: block;
    }

    #Projects{
        margin-top: 35px;
        margin-bottom: 35px;
    }
}
@media only screen and (min-width: 701px) and (max-width: 750px){
    .media-text{
        font-size: 59px;
    }

    #Projects{
        margin-top: 75px;
        margin-bottom: 75px;
    }

    .responsive-menu{
        display: none;
    }

    .media-text_des{
        font-size: 20px;
    }
}